= render "layouts/header"
.container
	- if @results.size > 0
		%ul
			- @results.each do |result|
				%li
					= link_to result.name, company_path(result.id)
	- else
		%h2 There are no results for this search.
	=link_to "Add a company", new_company_path