@import "bourbon";
@import "neat";
@import "common";

// Generic styles

li:first-child article{
  border-top: none;
}

.content--center {
  margin-top: 30px;
  padding: 25px;
  @include span-columns(12);
  @include media($tablet) {
    @include span-columns(10);
    @include shift(1);
    padding: 34px;
    margin-top: 30px;
  }
  @include media($desktop) {
    @include span-columns(6);
    @include shift(3);
  }
}

.content--center--large {
  @include span-columns(10);
  @include shift(1);
  padding: 20px;
  margin-top: 30px;
  @include media($tablet) {
    padding: 34px;
    margin-top: 50px;
  }
}

#text-landing {
  text-align: center;
}


// Hero styles

.hero {
  background: url('http://emilychen.co/images/newyork_mobile.jpg') no-repeat fixed;
  @include media($tablet) {
      background: url('http://emilychen.co/images/newyork_tablet.jpg') no-repeat fixed;
  }
  @include media($desktop) {
      background: url('http://emilychen.co/images/newyork.jpg') no-repeat fixed;
      max-width: 18000px;
  }
}

    .content--hero {
      @include span-columns(10);
      @include shift(1);
      padding: 20px;
      margin-top: 30px;
      margin-bottom: 30px;
      background-color: hsla(50, 5%, 22%, .45);
      text-align: center;
      position: relative;
      @include media($tablet) {
        padding: 34px;
        margin-top: 50px;
      }
      @include media($desktop) {
        padding: 70px 0 50px 0;
        margin-top: 100px;
        margin-bottom: 180px;
      }
    }

    .content--hero h1 {
      font-size: 2em;
      color: white;
      margin: -20px 0 20px 0;
      @include media($tablet) {
        font-size: 3em;
      }
    }

    .content--hero h3 {
      color: white;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      margin: 20px 0 -10px 0;
    }

// Page styles

.profile--header {
  @include span-columns(6 of 6);
  border-bottom: 1px solid lightgray;
  padding-bottom: 20px;
}

  .info--logo {
    @include span-columns(12);
    @include media($tablet) {
      @include span-columns(4 of 12);
    }
  }

  .profile--header img {
    margin: auto;
    border: 1px solid lightgray;
  }

  .info--company {
    @include span-columns(12);
    @include media($tablet) {
      @include span-columns(8 of 12);
    }
  }

  .info--location {
    font-size: 1.4em;
  }

  .info--company h1 {
    @include media($tablet) {
      margin-top: .6em;
      margin-bottom: .6em;
    }
  }

// Global useful styles

.button--medium {
  border: 1px solid white;
  min-height: 25.6px;
  width: 100px;
  background-color: $color-page-primary;
  padding: 10px;
  text-align: center;
  display: inline-block;
}

.button--medium:hover {
  background-color: $color-page-dark;
}

.search {
  margin: auto;
}

.footer-wrapper {
  @include row();
  position: absolute;
  bottom: 0;
  @include clearfix;
}
