@import "common";

// Generic styles

li:first-child article{
  border-top: none;
}

.content--center {
  padding: 25px 0 25px 0;
  @include span-columns(10);
  @include shift(1);
  @include media($tablet) {
    @include span-columns(8);
    @include shift(2);
    padding: 34px 0 34px 0;
  }
  @include media($desktop) {
    @include span-columns(6);
    @include shift(3);
  }
}

.content--form {
  margin-top: 20px;
  padding: 25px 0 25px 0;
  @include span-columns(8);
  @include shift(2);
  @include media($tablet) {
    @include span-columns(6);
    @include shift(3);
    padding: 34px 0 34px 0;
    margin-top: 30px;
  }
  @include media($desktop) {
    @include span-columns(4);
    @include shift(4);
  }
}

.content--center--large {
  @include span-columns(10);
  @include shift(1);
  padding: 20px;
  margin-top: 20px;
  @include media($tablet) {
    padding: 34px;
    margin-top: 30px;
  }
}

.content--footer {
  @include span-columns(10);
  @include shift(1);
  font-size: .8em;
  padding: 0 20px 0 20px;
}

.content--sections {
  @include span-columns(5);
  background-color: #F9F5DD;
}

.content--cta {
  padding: 25px 0 0 0;
  @include span-columns(7);
  @include shift(3);
  @include media($tablet) {
    @include span-columns(3);
    @include shift(7);
  }
  @include media($desktop) {
    @include span-columns(2);
    @include shift(7);
  }
}

#text-landing {
  text-align: center;
}

// Global useful styles

.button--medium {
  border: 1px solid white;
  min-height: 25.6px;
  width: 100px;
  background-color: $color-page-primary;
  padding: 10px;
  text-align: center;
  display: inline-block;
}

.button--medium:hover {
  background-color: $color-page-dark;
}

.search {
  margin: auto;
}
