@import "bourbon";
@import "neat";

$mobile: new-breakpoint(max-width 500px 4);
$tablet: new-breakpoint(max-width 800px 4);

* {
  color: #3B3A35;
}

div.container {
  @include outer-container;
}

header {
  background-color: hsla(160, 36%, 61%, 1);
  box-shadow: 1px 1px 2px hsla(0,0%,0%,.3);
  width: 100%;
}

body {
  padding-top: 0px;
  margin:0px;
}

nav {
	max-height: 50px;
  padding: 10px;
}

nav h1 {
  margin: 0px;
}

section {
  @include outer-container;
  aside {
    background-color: orange;
    @include span-columns(3);
    @include media($mobile) {
      @include span-columns(4);
    }
  }
  article {
    @include span-columns(9);
    @include media($mobile) {
      @include span-columns(4);
    }
  }
}

nav ul {
  list-style-type: none;
  overflow: hidden;
  margin: auto;
}

nav li {
  display: inline;
  margin: 10px;
}

nav a {
  text-decoration: none;
  color: white;
}

input[type=text] {
   height: 30px;
   border-radius: .3em;
}

input[type=search] {
   height: 50px;
   width: 400px;
   font-size: 30px;
   border-radius: .3em;
   background-color: rgba(255, 255, 255, .25)
}

input[type=search]:focus {
  border: 0px !important;
}

#logo {
  color: white;
  font-size: 24px;
}

.hero {
  background-image: url('newyork.jpg');
  height: 754px;
  @include media($mobile) {
      background-image: url('newyork_mobile.jpg');
  }
  @include media($tablet) {
      background-image: url('newyork_tablet.jpg');
  }
}

.medium-button {
  border: 1px solid white;
  border-radius: .5em;
  float: left;
  margin: 10px;
  min-height: 25.6px;
  min-width: 100px;
  background-color: hsla(160, 36%, 61%, 1);
  padding: 10px;
  text-align: center;
  // background-color: hsla(3,100%,65%,.9);
  // box-shadow: 2px 2px 3px hsla(0,0%,0%,.3);
  // text-shadow: 1px 1px 2px hsla(0,0%,0%,.3);
}

.navbar-left {
  padding-top: 5px;
  float: left;
}

.navbar-right {
  float: right;
}

.footer-wrapper {
  clear: both;
  position: absolute;
  bottom: 0;
}