@import "bourbon";
@import "neat";

$mobile: new-breakpoint(max-width 500px, 4);
$tablet: new-breakpoint(max-width 800px, 8);

* {
  color: hsla(50, 5%, 22%, 1);
}

div.container {
  @include outer-container;
}

header {
  background-color: hsla(160, 36%, 61%, 1);
  width: 100%;
}

body {
  padding-top: 0px;
  margin:0px;
}

nav {
	height: 70px;
  padding: 10px;
}

nav h1 {
  margin: 0px;
}

nav ul {
  overflow: hidden;
  margin: auto;
}

nav li {
  display: inline-block;
  margin: 10px;
}

nav a {
  color: white;
}

nav a:visited {
  color: white;
}

nav a:hover {
  background-color: hsla(160, 36%, 61%, 1); 
}

input[type=text] {
   height: 30px;
   border-radius: .3em;
}

input[type=search] {
  height: 50px;
  width: 400px;
  font-size: 2em;
  border-radius: .3em;
  background-color: rgba(255, 255, 255, .75);
  margin: auto;
  @include media($mobile) {
    height: 20px;
    width: 200px;
    font-size: 1em;
  }
}

input[type=search]:focus {
  border: 0px;
  text-shadow: none;
  outline: none;
  border-radius: .3em;
  box-shadow: 0px 0px 0px 2pt white;
}

h1, h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

article {
  border-bottom: 1px solid darkgray;
}

.content--hero h1 {
  font-size: 5em;
  line-height: 1em;
  @include media($mobile) {
    font-size: 3em;
  }
}

.content--hero h2 {
  font-size: 3em;
  line-height: 1em;
  @include media($mobile) {
    font-size: 1.6em;
  }
}

#logo {
  color: white;
  font-size: 2em;
  font-family: 'Roboto Condensed', sans-serif;
}

.hero {
  background: url('http://emilychen.co/images/newyork.jpg') no-repeat center center fixed;
  max-width: 18000px;
  height: 1000px;
  @include media($tablet) {
      background: url('http://emilychen.co/images/newyork_tablet.jpg') no-repeat center center fixed;
  }
  @include media($mobile) {
      background: url('http://emilychen.co/images/newyork_mobile.jpg') no-repeat center center fixed;
  }
}

.content--hero {
  max-width: 960px;
  padding: 34px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: hsla(0, 0%, 100%, .35);
  border-radius: .5em;
  text-align: center;
  @include media($mobile) {
    padding: 20px;
    margin-top: 30px;
  }
}

.button--medium {
  border: 1px solid white;
  border-radius: .5em;
  float: left;
  margin: 10px;
  min-height: 25.6px;
  min-width: 100px;
  background-color: hsla(160, 36%, 61%, .6);
  padding: 10px;
  text-align: center;
  // background-color: hsla(3,100%,65%,.9);
  // box-shadow: 2px 2px 3px hsla(0,0%,0%,.3);
  // text-shadow: 1px 1px 2px hsla(0,0%,0%,.3);
}

.navbar-left {
  padding-top: 5px;
  float: left;
  @include media($mobile) {
      @include span-columns(4);
      text-align: center;
  }
}

.navbar-right {
  float: right;
  @include media($mobile) {
      @include span-columns(4);
  }
}

.search {
  margin: auto;
}

.footer-wrapper {
  clear: both;
  position: absolute;
  bottom: 0;
}

::-webkit-input-placeholder {
   color: gray;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;
}

:-ms-input-placeholder {  
   color: white; 
}