@import "bourbon";
@import "neat";

$mobile: new-breakpoint(max-width 500px, 4);
$tablet: new-breakpoint(max-width 800px, 8);
$primary-color: hsla(160, 36%, 61%, 1);
$font-primary-color: hsla(50, 5%, 22%, 1);

* {
  color: $font-primary-color;
}

div.container {
  @include outer-container;
}

header {
  background-color: $primary-color;
  width: 100%;
}

body {
  padding-top: 0px;
  margin:0px;
}

.nav--site nav {
	height: 70px;
  padding: 10px;
}

    .nav--site h1 {
      margin: 0px;
    }

    .nav--site ul {
      overflow: hidden;
      margin: auto;
    }

    .nav--site li {
      display: inline-block;
      margin: 10px;
    }

    .nav--site a {
      color: white;
    }

    .nav--site a:visited {
      color: white;
    }

    .nav--site a:hover {
      background-color: $primary-color; 
    }

input[type=text] {
   height: 30px;
   border-radius: .3em;
}

input[type=search] {
  height: 50px;
  width: 400px;
  font-size: 2em;
  border-radius: .3em;
  background-color: rgba(255, 255, 255, .75);
  margin: auto;
  @include media($mobile) {
    height: 20px;
    width: 200px;
    font-size: 1em;
  }
}

input[type=search]:focus {
  border: 0px;
  text-shadow: none;
  outline: none;
  border-radius: .3em;
  box-shadow: 0px 0px 0px 2pt white;
}

h1, h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

article {
  border-bottom: 1px solid darkgray;
}

.content--hero h1 {
  font-size: 5em;
  line-height: 1em;
  @include media($mobile) {
    font-size: 3em;
  }
}

.content--hero h2 {
  font-size: 3em;
  line-height: 1em;
  @include media($mobile) {
    font-size: 1.6em;
  }
}

#logo {
  margin-top: 25px;
  color: white;
  font-size: 2em;
  font-family: 'Roboto Condensed', sans-serif;
}

.hero {
  background: url('http://emilychen.co/images/newyork.jpg') no-repeat center center fixed;
  max-width: 18000px;
  height: 1000px;
  @include media($tablet) {
      background: url('http://emilychen.co/images/newyork_tablet.jpg') no-repeat center center fixed;
  }
  @include media($mobile) {
      background: url('http://emilychen.co/images/newyork_mobile.jpg') no-repeat center center fixed;
  }
}

.content--hero {
  max-width: 960px;
  padding: 34px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: hsla(0, 0%, 100%, .35);
  border-radius: .5em;
  text-align: center;
  @include media($mobile) {
    padding: 20px;
    margin-top: 30px;
  }
}

.button--medium {
  border: 1px solid white;
  border-radius: .5em;
  float: left;
  margin: 10px;
  min-height: 25.6px;
  min-width: 100px;
  background-color: $primary-color;
  padding: 10px;
  text-align: center;
}

.navbar-left {
  padding-top: 5px;
  float: left;
  @include media($mobile) {
      @include span-columns(4);
      text-align: center;
  }
}

.navbar-right {
  float: right;
  @include media($mobile) {
      @include span-columns(4);
  }
}

.flash-messages {
  width: 200px;
  margin-right: auto;
  margin-left: auto;
}

.search {
  margin: auto;
}

.footer-wrapper {
  clear: both;
  position: absolute;
  bottom: 0;
}

::-webkit-input-placeholder {
   color: gray;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;
}

:-ms-input-placeholder {  
   color: white; 
}

.messages--flash {
  max-width: 200px;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
}

    #notice {
      background-color: hsla(82, 66%, 85%, .50);
      text-align: center;
      height: 30px;
      margin-left: auto;
      margin-right: auto;
      border-radius: .3em;
      padding: 5px;
      margin: 0px;
    }

    #alert {
      background-color: hsla(0, 100%, 86%, 1);
      text-align: center;
      height: 30px;
      margin-left: auto;
      margin-right: auto;
      border-radius: .3em;
      padding: 5px;
      margin: 0px;
    }

    #warning {
      background-color: hsla(48, 97%, 85%, 1);
      text-align: center;
      height: 30px;
      margin-left: auto;
      margin-right: auto;
      border-radius: .3em;
      padding: 5px;
      margin: 0px;
    }

    p#notice, p#alert, p#warning {
      font-size: 1em;
    }