@import "bourbon";
@import "neat";
@import "common";

.profile--header {
  @include span-columns(10 of 12);
  @include shift(1);  
  border-bottom: 1px solid lightgray;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: -20px;
  @include media($tablet) {
    @include span-columns(8 of 12);
    @include shift(3);
    margin-top: 30px;
  }
  @include media($desktop) {
    @include span-columns(6 of 12);
    @include shift(3);
  }
}

.profile--left {
  @include span-columns(10 of 10);
  border-right: 1px solid lightgray;
	  @include media($tablet) {
    @include span-columns(4 of 10);
    margin-top: 30px;
  }
  @include media($desktop) {
    @include span-columns(3 of 10);
  }
}

.profile--right {
	@include span-columns(10 of 10);
  @include media($tablet) {
    @include span-columns(6 of 10);
  }
  @include media($desktop) {
    @include span-columns(7 of 10);
  }
}

.info--logo {
  @include span-columns(12);
  @include media($tablet) {
    @include span-columns(4 of 12);
  }
}

.profile--header img {
  margin: auto;
  border: 1px solid lightgray;
}

.info--company {
  @include span-columns(12);
  @include media($tablet) {
    @include span-columns(8 of 12);
  }
}

.info--location {
  font-size: 1.4em;
}

.info--company h1 {
  @include media($tablet) {
    margin-top: .6em;
    margin-bottom: .6em;
  }
}

ul.profile--reviews {
  padding-left: 0px;
}