@import "common";

.post-helpful-rating {
  display: none;
  color: hsl(108, 100%, 30%);
}

.post-flag {
  display: none;
  color: hsla(3,100%,65%,.9);
}

span.icon-yellow:before {
  font-family: 'icomoon';
  content: '\e602';
  speak: none;
  color: hsla(44, 100%, 77%, 1);
}

span.icon-gray:before {
  font-family: 'icomoon';
  content: '\e602';
  speak: none;
  color: lightgray;
}

span.icon-flag {
  padding-left: 10px;
}

span.icon-flag:before {
    content: '\e605';
    font-family: 'icomoon';
    color: hsla(3,100%,65%,.9);
    speak: none;
    padding: 2px;
}

span.icon-thumbs-up:before {
    content: '\e603';
    font-family: 'icomoon';
    speak: none;
    padding: 2px;
    font-size: .8em;
}

span.icon-thumbs-down:before {
    content: '\e604';
    font-family: 'icomoon';
    speak: none;
    padding: 2px;
    font-size: .8em;
}

.star-rating{
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 150px;
  height: 30px;
  overflow: hidden;
  position: relative;
  background:
      url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
  i{
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 20%;
    z-index: 1;
    background:
        url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
    background-size: contain;
  }
  input{
    -moz-appearance: none;
    -webkit-appearance: none;
    opacity: 0;
    display: inline-block;
    width: 20%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 2;
    position: relative;
    &:hover + i,
    &:checked + i{
      opacity:1;
    }
  }
  i ~ i{
    width: 40%;
  }
  i ~ i ~ i{
    width: 60%;
  }
  i ~ i ~ i ~ i{
    width: 80%;
  }
  i ~ i ~ i ~ i ~ i{
    width: 100%;
  }
}

p.response {
  border-top: 1px solid lightgray;
  margin: 0 20px 0 20px;
  padding: 10px;
}

.card--review {
  box-shadow: 0 0 5px darkgray;
  margin: 15px;
}

.card--review--header {
  padding: 10px;
  background-color: hsla(43, 75%, 88%, 1);
}

a.card-header, a.card-header:visited {
  color: white;
}

.card--review--content {
  padding: 10px;
}

.card--review--content h3 {
  margin: 10px 0 10px 0;
}
