!!!
%html
	%head
		%title Cityfox
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		= csrf_meta_tags
	= yield
	.container
		=render "layouts/footer"
	%stylesheet_link_tag 'application', 
		'http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet'
	%stylesheet_link_tag 'application', 
		'http://fonts.googleapis.com/css?family=Open+Sans:400,300'
		